/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: EbGaramont;
  src: url(../fonts/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
  font-family: UbuntuRegular;
  src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: UbuntuBold;
  src: url(../fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: DansingScript;
  src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
html, body {
  height: 100%;
  margin: 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/*
 * css developement website
 */
 body{
  overflow-y: hidden
 }

 header{
  height: 100px;
  .garamont{
    font-family: EbGaramont, serif;
  }
  .pl-5{
    padding-left: 5px;
  }
  .lien-site{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .header{
    img{
      height: 50px !important
    }
  }
}

.content{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
}

#section-1{
  height: 100%;
  padding: 0% 4% 0% 4%;
  font-family: UbuntuRegular, sans-serif;
  @media only screen and (max-width: 576px) {
    height: auto;
  }
  .title{
    font-size:20px;
    padding-top: 5%;
    .first{
      font-family: UbuntuBold, sans-serif;   
    }
  }
  @media only screen and (max-width: 576px) {
    .title{
      padding-bottom: 5%;   
    }
  }
  .information{
    font-family: UbuntuBold, sans-serif;
    font-size: 12px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  @media only screen and (max-width: 576px) {
    .information{
      padding-bottom: 5%;   
    }
  }
  .citation-1{
    font-family: UbuntuRegular, sans-serif;
    text-align: right;
    .text{
      font-size: 15px;
    }
    .author{
      font-size:13px;
      padding-top: 5px;
    }
  }
  .contact{
    font-size: 13px;
    font-family: UbuntuRegular, sans-serif;
    margin-top: 15%;
    a{
      color: black;
      text-decoration: none;
    }
    .phone{
      font-family: UbuntuBold, sans-serif;
      padding-top: 30px;
      a{
        text-decoration: none;
        color: black;
      }
      img{
        height: 20px;
        margin-right: 5px;
      }
    }
    .mail{      
      font-family: UbuntuBold, sans-serif;
      padding-top: 10px;
      a{
        text-decoration: none;
        color: black;
      }
      img{
        height: 20px;
        margin-right: 5px;
      }
    }
  }
}

#section-2{
  height: 100%;
  img{
    max-width: 95%;
  }
  .title-origine{
    font-family: UbuntuBold, sans-serif;
    font-size: 40px;
    margin-top: 30px;
    padding-left: 6px;
    border-right: 2px solid black;
  }
  @media only screen and (max-width: 576px) {
    .title-origine{
      font-family: UbuntuBold, sans-serif;
      font-size: 25px;
      margin-left: 5px;
      padding-top: 5%;
      padding-left: 5%;
      text-align: left;
      span{
        border-bottom: 2px solid black;
      }
    }
  }
  .title{
    font-family: UbuntuBold, sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 30px;
  }
  .content-1{
    font-family: UbuntuRegular, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: left;
  }
  .content-2{
    font-family: UbuntuRegular, sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
    text-align: left;   
  }
  @media only screen and (max-width: 576px) {
    .title{
      padding-left: 5%;
      padding-right: 5%;
    }
    .content-1{
      padding-left: 5%;
      padding-right: 5%;
    }
    .content-2{
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  .citation-2{
    font-family: DansingScript, cursive;
    margin-top: 8%;
  }
}

#section-3{
  font-family: UbuntuRegular, sans-serif;
  font-size: 13px;
  height: 100%;
  .background-service-1{
    background: url(../img/service-1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .background-service-2{
    background: url(../img/service-2.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .title-service{
    font-family: UbuntuBold, sans-serif;
    font-size: 55px;
    padding-top: 5%;
    span{
      border-bottom: 2px solid black;
    }
  }
  @media only screen and (max-width: 576px) {
    .title-service{
      font-size: 25px;
      padding-left: 5%;
      padding-bottom: 5%;
      margin-top: 30px;
      span{
        border-bottom: 2px solid black;
      }    
    }
  }
  .service{
    padding-top: 1%;
    .circle{
      border-radius: 10px;
      background: black;
      height: 10px;
      width: 10px;
      display: inline-block;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .title{
      font-family: UbuntuBold, sans-serif;
      font-size: 15px;
      padding-bottom: 5px;
    }
    .price{
      font-size: smaller;
      padding-left: 10px;
    }
    .info{
      padding-bottom: 10px
    }
    @media only screen and (max-width: 576px) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

#section-4{
  height: 100%;
  font-family: UbuntuRegular, sans-serif;
  @media only screen and (max-width: 576px) {
    height: auto;
  }
  img{
    height:350px;
    width: 350px;
    border:1px solid black;
    margin-top:15%
  }
  .title-projet{
    font-family: UbuntuBold, sans-serif;
    font-size: 40px;
    margin-top: 30px;
    padding-left: 6px;
    border-right: 2px solid black;
  }
  @media only screen and (max-width: 576px) {
    .title-projet{
      font-family: UbuntuBold, sans-serif;
      font-size: 25px;
      margin-left: 5px;
      padding-top: 10%;
      padding-left: 5%;
      span{
        border-bottom: 2px solid black;
      }
    }
  }
  .libelle{
    font-size: 13px;
    padding-top: 10px;
  }
  .projet{
    vertical-align: middle;
  }
}
#section-5{
  font-family: UbuntuRegular, sans-serif;
  font-size: 13px;
  height: 100%;
  .title-contact{
    font-family: UbuntuBold, sans-serif;
    font-size: 55px;
    padding-top: 5%;
    padding-left: 5%;
    span{
      border-bottom: 2px solid black;
    }
  }
  @media only screen and (max-width: 576px) {
    .title-contact{
      font-size: 25px;
      margin-left: 5px;
      margin-top: 5%;
    }
  }
  .contact{
    padding-top: 10%;
    text-align: center;
    .phone{
      font-family: UbuntuBold, sans-serif;
      padding-top: 30px;
      a{
        text-decoration: none;
        color: black;
      }
      img{
        height: 20px;
        margin-right: 5px;
      }
    }
    .mail{
      font-family: UbuntuBold, sans-serif;
      padding-top: 10px;
      a{
        text-decoration: none;
        color: black;
      }
      img{
        height: 20px;
        margin-right: 5px;
      }
    }
    .insta{      
      font-family: UbuntuBold, sans-serif;
      padding-top: 10px;
      a{
        text-decoration: none;
        color: black;
      }
      img{
        height: 20px;
        margin-right: 5px;
      }
    }
  } 
}